body {
  background: url(../1.png);
  background-repeat: no-repeat;
  position: center;
  background-size: cover;
}

.page-header {
  font-size: 50px;
  text-align: center;
  background: rgba(96, 96, 96, 0.5);
  color: #fff;
  padding: 10px;
  box-shadow: black 3px 3px;
  box-sizing: 50px 25px;

}

.grid{
  text-align: center;
  font-size: 45px ;
  border-bottom: black dotted 10px;
  background-color: rgba(215, 215, 215, 0.5);
  line-height: 70px
}


#date-time-header {
  text-align: center;
  font-size: 40px;
  border-bottom: dotted black 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

